Soy el Home
<div class="container">
  <div class="row">
    <div class="col-5">
      <div class="card" style="width: 18rem;">
        <img src="http://tiny.cc/39aybz" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">    <%= link_to 'INGRESA COMO Empresa',  new_company_path%>
          </p>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="card" style="width: 18rem;">
        <img src="http://tiny.cc/kbbybz" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">        <%= link_to 'Usuario', new_user_registration_path%>
          </p>
        </div>
      </div>
    </div>

  </div>

</div>
